# Puerto del servidor
PORT=3001

# Configuración de Firebase (reemplazar con tus propias credenciales)
FIREBASE_PROJECT_ID=streamflow-usuarios
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXXX\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@streamflow-usuarios.iam.gserviceaccount.com

# JWT Secret
JWT_SECRET=streamflow_usuarios_secret_key
JWT_EXPIRES_IN=1d